<!DOCTYPE html>
<html class="no-js" lang="">
<head>
	{% block seo %} {% endblock %}
	{% include "partials/head.html" %}
</head>
<body>
	<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

  <!-- Add navigation partial -->
	{% include "partials/nav.html" %}

	<!-- You write code for this content block in another file -->
  {% block content %} {% endblock %}

  <!-- Add footer partial -->
	{% include "partials/footer.html" %}

	<script src="assets/js/app.js" type="text/javascript"></script>
  </body>
</html>
