{% extends "layout.html" %}

{% block seo %}
	<title>Do Not Index</title>
	<meta name="description" content="Do Not Index">
	<!-- open graph  -->
	<meta property="og:title" content="Do Not Index" />
	<meta property="og:description" content="Do Not Index" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.careers.io" />
	<meta property="og:image" content="assets/images/" />
	<!-- twitter  -->
	<meta name="twitter:description" content="Do Not Index" />
{% endblock %}

{% block content %}
<section class="container error-page">
	<h1>error page</h1>
</section>
{% endblock %}
